@page "/adminhome"
@layout AdminLayout
@inherits AdminHomeBase

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 mt-4 mx-3">

    <MudPaper Elevation="3"
              Style="border-radius: 8px; border-left: 4px solid green;
              box-shadow: 0 4px 12px rgba(0,0,0,0.3);"
              Class="flex items-center justify-center py-4 rounded-2xl">
        <div class="flex flex-col items-center justify-center w-44 h-44 rounded-full
                    border-4 border-[#66BB6A] shadow-[0_8px_20px_rgba(102,187,106,0.6)]">
            <MudIcon Icon="@Icons.Material.Filled.Group" Size=Size.Large Style="color:green;" />
            <MudText Typo="Typo.h5" Class="font-bold mt-2 ">@TotalUsers</MudText>
            <MudText Typo="Typo.subtitle2">Total Users</MudText>
        </div>
    </MudPaper>

    <MudPaper Elevation="3"
              Style="border-radius: 8px; border-left: 4px solid #FFC107;
              box-shadow: 0 4px 12px rgba(0,0,0,0.3);"
              Class="flex items-center justify-center py-4 rounded-2xl">
        <div class="flex flex-col items-center justify-center w-44 h-44 rounded-full
                    border-4 border-[#FFC107] shadow-[0_8px_20px_rgba(255,193,7,0.6)]">
            <MudIcon Icon="@Icons.Material.Filled.CardMembership" Size=Size.Large Style="color:#FFEB3B;" />
            <MudText Typo="Typo.h5" Class="font-bold mt-2">@TotalMemberships</MudText>
            <MudText Typo="Typo.subtitle2">Total Memberships</MudText>
        </div>
    </MudPaper>


    <MudPaper Elevation="3"
              Style="border-radius: 8px; border-left: 4px solid slateblue;
              box-shadow: 0 4px 12px rgba(0,0,0,0.3);"
              Class="flex items-center justify-center py-4 rounded-2xl">
        <div class="flex flex-col items-center justify-center w-44 h-44 rounded-full
                    border-4 border-[#7986CB] shadow-[0_8px_20px_rgba(92,107,192,0.6)]">
            <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" Size=Size.Large Style="color:slateblue;" />
            <MudText Typo="Typo.h5" Class="font-bold mt-2">@TotalAdmins</MudText>
            <MudText Typo="Typo.subtitle2">Total Admins</MudText>
        </div>
    </MudPaper>

  
    <MudPaper Elevation="3"
              Style="border-radius: 8px; border-left: 4px solid darkred;
              box-shadow: 0 4px 12px rgba(0,0,0,0.3);"
              Class="flex items-center justify-center py-4 rounded-2xl">
        <div class="flex flex-col items-center justify-center w-44 h-44 rounded-full
                    border-4 border-[darkred] shadow-[0_8px_20px_rgba(139,0,0,0.55)]">
            <MudIcon Icon="@Icons.Material.Filled.EventAvailable" Size=Size.Large Style="color:darkred;" />
            <MudText Typo="Typo.h5" Class="font-bold mt-2">@Attendees</MudText>
            <MudText Typo="Typo.subtitle2">Attendees Today</MudText>
        </div>
    </MudPaper>
</div>

<div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-2 mx-3">
    <MudPaper  Class="mt-6 p-4" Elevation="2">
        <MudText Typo="Typo.h6" Class="flex justify-content-center gap-2">
            <MudIcon Class="mt-1" Icon="@Icons.Material.Filled.BarChart" />
            Membership Chart
        </MudText>
        @if (_barSeries != null && _xAxisLabels.Length > 0)
        {
            <MudChart ChartType="ChartType.Bar"
                      ChartSeries="@_barSeries"
                      @bind-SelectedIndex="_index"
                      XAxisLabels="@_xAxisLabels"
                      Width="100%"
                      Height="400"
                      AxisChartOptions="_axisChartOptions">
            </MudChart>
        }
        else
        {
            <div class="flex justify-center py-8">
                <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
            </div>
        }
      <MudPaper>
            <MudText Typo="Typo.h6" Class="flex justify-content-center mt-2" >
                Attendance Today
                <MudIcon Class="mt-1" Icon="@Icons.Material.Filled.EventAvailable"/>
            </MudText>
        <MudDataGrid T="AttendanceLogDTO" Items="@attendees" SortMode="@_sortMode">
            <Columns>
                <PropertyColumn Property="m => m.FullName" Title="Full Name" />
                <PropertyColumn Property="m => m.ScanTime" Title="ScanTime" />  
            </Columns>
            <PagerContent>
                <MudDataGridPager T="AttendanceLogDTO" />
            </PagerContent>
        </MudDataGrid>
        </MudPaper>
    </MudPaper>


    <MudPaper Class="mt-6 flex flex-col items-center py-5 gap-2 w-full ">

        <MudText Typo="Typo.h6" Class="mt-2">
            <MudIcon Class="mb-1"  Icon="@Icons.Material.Filled.PieChart" />
            Memberships Plan Distribution</MudText>
        <MudChart ChartType="ChartType.Pie"
                  InputData="@data"
                  InputLabels="@labels"
                  Width="300px"
                  Height="300px" />

       
        <MudPaper Class="p-4" Elevation="3" Style="width: 100%; max-width: 600px;">
            <MudText Typo="Typo.subtitle2" Class="mb-2 text-center font-bold">
                Calendar - @CurrentMonth.ToString("MMMM yyyy")
            </MudText>

            <MudGrid Gutter="GutterSize.Small">
               
                @foreach (var day in DayNames)
                {
                    <MudItem xs="1">
                        <MudText Typo="Typo.subtitle2" Class="text-center font-weight-bold">@day</MudText>
                    </MudItem>
                }

            
                @foreach (var date in CalendarDates)
                {
                    <MudItem xs="1">
                        <MudPaper Class=" text-center cursor-pointer"
                                  Style="@GetDateStyle(date)"
                                  Elevation="1">
                            @date.Day
                        </MudPaper>
                    </MudItem>
                }
            </MudGrid>
        </MudPaper>
    </MudPaper>
</div>

