@page "/manageadmins"
@layout AdminLayout
@inherits ManageAdminBase

<div class="grid grid-cols-1 lg:grid-cols-10 gap-4 mx-5 mt-4">
    <div class=" col-span-7 lg:col-span-3">
        <MudPaper Class="p-6 shadow-lg w-full min-h-[450px]  flex flex-col items-center rounded-[20px]">


            @if (_selectedAdmin != null && _selectedAdmin.Any())
            {
                var admin = _selectedAdmin.First();


                <MudStack Spacing="3" Class="w-full">

                    <div class="flex justify-center ">
                        <MudAvatar Size="Size.Large"
                                   Style="width: 150px; height: 150px;">
                            @if (!string.IsNullOrWhiteSpace(admin.ProfilePictureBase64))
                            {
                                <MudImage Src="@admin.ProfilePictureBase64"
                                          Width="200"
                                          Height="200"
                                          Elevation="5"
                                          Class="rounded-xl" 
                                          ObjectFit="ObjectFit.Cover" />
                            }
                            else
                            {

                                <span class="text-6xl font-bold text-white">
                                    @(!string.IsNullOrWhiteSpace(admin.FullName) ? admin.FullName.Substring(0, 1).ToUpper() : "?")
                                </span>
                            }
                        </MudAvatar>
                    </div>

                    <MudDivider Class="w-full my-2" />


                    <MudGrid Class="w-full gap-3">

                        <MudItem xs="12">
                            <MudText>
                                <MudIcon Icon="@Icons.Material.Filled.Person"  />
                                <b>Full Name:</b> @(!string.IsNullOrWhiteSpace(admin.FullName) ? admin.FullName : "N/A")
                            </MudText>
                        </MudItem>

                        <MudItem xs="12">
                            <MudText>
                                <MudIcon Icon="@Icons.Material.Filled.Phone"  />
                                <b>Phone:</b> @(!string.IsNullOrWhiteSpace(admin.PhoneNumber) ? admin.PhoneNumber : "N/A")
                            </MudText>
                        </MudItem>

                        <MudItem xs="12">
                            <MudText>
                                <MudIcon Icon="@Icons.Material.Filled.Email"  />
                                <b>Email:</b> @(!string.IsNullOrWhiteSpace(admin.Email) ? admin.Email : "N/A")
                            </MudText>
                        </MudItem>

                        <MudItem xs="12">
                            <MudText>
                                <MudIcon Icon="@Icons.Material.Filled.Wc"  />
                                <b>Gender:</b> @(!string.IsNullOrWhiteSpace(admin.Gender) ? admin.Gender : "N/A")
                            </MudText>
                        </MudItem>

                        <MudItem xs="12">
                            <MudText>
                                <MudIcon Icon="@Icons.Material.Filled.Home"  />
                                <b>Address:</b> @(!string.IsNullOrWhiteSpace(admin.Address) ? admin.Address : "N/A")
                            </MudText>
                        </MudItem>

                        <MudItem xs="12">
                            <MudText>
                                <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings"/>
                                <b>Role:</b> @(!string.IsNullOrWhiteSpace(admin.Role) ? admin.Role : "N/A")
                            </MudText>
                        </MudItem>

                    </MudGrid>

                </MudStack>
            }
            else
            {
                <MudText Typo="Typo.subtitle2" Class="text-center text-blue-500 font-bold mt-6">
                    Select admin to display information
                </MudText>
            }

        </MudPaper>
    </div>

    <div class="col-span-7">
        <MudPaper Class="d-flex flex-wrap flex-row justify-content-between flex-grow-1 gap-4 mb-1 py-1  mud-theme-lighter shadow-lg" Elevation="4">
            <MudItem xs="12" sm="6" md="5" Class="mx-2 ">
                <MudTextField T="string"
                              Label="Search"
                              Variant="Variant.Outlined"
                              AdornmentIcon="@Icons.Material.Filled.Search" />
            </MudItem>

            <MudItem xs="12" sm="6" md="5" Class="d-flex justify-end gap-2 mx-4 mt-2">
                <MudButton Class="mb-3"
                           @onclick="OpenDialogAsync"
                           Variant="Variant.Filled"
                           Color="Color.Dark"
                           StartIcon="@Icons.Material.Filled.PersonAdd">
                    Add Admin
                </MudButton>

                <MudButton Class="mb-3"
                           Variant="Variant.Filled"
                           Color="Color.Error"
                           Disabled="@(!_selectedAdmin.Any())"
                           StartIcon="@Icons.Material.Filled.Delete"
                           OnClick="DeleteSelectedAdminsAsync">
                    DELETE (@_selectedAdmin.Count)
                </MudButton>
            </MudItem>
        </MudPaper>

        <MudPaper Elevation="4" Height="auto" Class="mud-theme-lighter pa-2  w-full shadow-lg  mt-2 py-4">

            <MudDataGrid T="UserDTO"
                         Items="@admins"
                         SortMode="@_sortMode"
                         @bind-SelectedItems="_selectedAdmin"
                         MultiSelection="true"
                         Dense="true"
                         RowsPerPage="5"
                         Class="mt-4">

                <Columns>
                    <SelectColumn T="UserDTO" />
                    <PropertyColumn Property="a => a.FullName" Title="Full Name" Sortable="true" />
                    <PropertyColumn Property="a => a.PhoneNumber" Title="Phone Number" Sortable="true" />
                    <PropertyColumn Property="a => a.Email" Title="Email" Sortable="true" />
                    <PropertyColumn Property="a => a.Address" Title="Address" Sortable="true" />


                    <TemplateColumn Title="Actions">
                        <CellTemplate>
                            <MudIconButton Icon="@Icons.Material.Outlined.Edit"
                                           Variant="Variant.Filled"
                                           Color="Color.Dark"
                                           Size="Size.Small"
                                           @onclick="() => OpenEditDialog(context.Item.UserId)" />
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>

                <PagerContent>
                    <MudDataGridPager T="UserDTO" />
                </PagerContent>
            </MudDataGrid>
        </MudPaper>
    </div>
</div>