@page "/forgotpassword"
@inherits AuthBase
@layout AuthLayout


<div class="w-full min-h-[900px]  align-content-center">
<MudPaper Class=" max-w-md mx-auto mt-10 p-8 rounded-2xl shadow-lg">

    @if (step == 1)
    {
        <h2 class="text-2xl font-bold mb-4">Find your account</h2>
        <p> Enter your email to find your account</p>
        <MudTextField @bind-Value="Email" Label="Email Address" Variant="Variant.Outlined"
                      FullWidth="true" />

        <MudButton Class="w-full mt-4" Variant="Variant.Filled" Color="Color.Warning"
                   OnClick="SendOtp">
            Send OTP
        </MudButton>

        <div class="text-center mt-3">
            <MudText><MudLink Href="/login">Back to Login</MudLink></MudText>
        </div>
    }

    @if (step == 2)
    {
        <h2 class="text-2xl font-bold mb-4">Verify OTP</h2>
        <p> Please enter the OTP that has been sent to your email</p>

        <MudTextField @bind-Value="OtpCode" Label="Enter OTP" Variant="Variant.Outlined"
                      FullWidth="true" />

        <MudButton Class="w-full mt-4" Variant="Variant.Filled" Color="Color.Warning"
                   OnClick="VerifyOtp">
            Verify OTP
        </MudButton>

        <MudButton Disabled="@isResendDisabled" Variant="Variant.Text" Class="w-full mt-2"
                   OnClick="SendOtp">
            Resend OTP @if (isResendDisabled) {
            <span>(@countdown)</span>
        }
    </MudButton>
        }

    @if (step == 3)
    {
        <h2 class="text-2xl font-bold mb-4">Reset Password</h2>
        <p> Enter new password</p>
        <MudTextField @bind-Value="NewPassword"
                      Label="New Password"
                          InputType="@(_showPassword? InputType.Text: InputType.Password)"
                      Variant="Variant.Outlined"
                      FullWidth="true"
                      Adornment="Adornment.End"
                      AdornmentIcon="@(_showPassword? Icons.Material.Filled.VisibilityOff : Icons.Material.Filled.Visibility)"
                      OnAdornmentClick="TogglePassword" />

        <MudTextField @bind-Value="ConfirmPassword"
                      Class="mt-3"
                      Label="Confirm Password"
                          InputType="@(_showPassword? InputType.Text: InputType.Password)"
                      Variant="Variant.Outlined"
                      FullWidth="true"
                      Adornment="Adornment.End"
                      AdornmentIcon="@(_showPassword? Icons.Material.Filled.VisibilityOff : Icons.Material.Filled.Visibility)"
                      OnAdornmentClick="TogglePassword" />

        <MudButton Class="w-full mt-4"
                   Variant="Variant.Filled"
                       Color="Color.Warning"
                   OnClick="ResetPassword">
            Reset Password
        </MudButton>
    }

</MudPaper>
</div>

