@using Gym.Client.Components.Pages.Admin_Pages
@inherits ManageStaffBase

<MudDialog Class="mud-elevation-4">
    <TitleContent>
        <MudStack Row="true" Spacing="2">
            <MudIcon Class="mt-1" Icon="@Icons.Material.Filled.PersonAdd" Color="Color.Primary" />
            <MudText Typo="Typo.h6" Class="font-semibold">Add Staff</MudText>
        </MudStack>
    </TitleContent>
    <DialogContent>

        <MudGrid Gutter="GutterSize.Small">
            <MudItem xs="12" sm="6">
                <MudPaper Class="p-4 rounded-lg" Elevation="0">
                    <MudTextField Label="Full Name"
                                  @bind-Value="staffMember.FullName"
                                  For="@(() => staffMember.FullName)"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Person" />
                    <MudTextField Label="Phone Number"
                                  @bind-Value="staffMember.PhoneNumber"
                                  For="@(() => staffMember.PhoneNumber)"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Phone" />
                    <MudDatePicker Label="Date of Birth"
                                   @bind-Date="staffMember.DateOfBirth"
                                   DateFormat="MM/dd/yyyy"
                                   MaxDate="@DateTime.Today"
                                   HelperText="Select your birth date"
                                   Adornment="Adornment.Start"
                                   AdornmentIcon="@Icons.Material.Filled.CalendarToday" />
                    <MudTextField Label="Address"
                                  @bind-Value="staffMember.Address"
                                  For="@(() => staffMember.Address)"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Home" />
                    <MudRadioGroup T="string" @bind-Value="staffMember.Gender" Row="true">
                        <MudRadio Value=@("Male") Color="Color.Tertiary" Size="Size.Medium">
                            <MudIcon Icon="@Icons.Material.Filled.Male" Class="mr-1" /> Male
                        </MudRadio>
                        <MudRadio Value=@("Female") Color="Color.Secondary" Size="Size.Medium">
                            <MudIcon Icon="@Icons.Material.Filled.Female" Class="mr-1" /> Female
                        </MudRadio>
                    </MudRadioGroup>
                </MudPaper>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudPaper Class="p-4 rounded-lg" Elevation="0">
                    <MudPaper Class=" d-flex flex-column justify-center align-center" Elevation="0">
                        <div style=" height: 120px; width: 120px; display: flex; align-items: center; justify-content: center;">
                            @if (!string.IsNullOrEmpty(profileImagePreview))
                            {
                                <MudAvatar Style="height: 100px; width: 100px;">
                                    <MudImage src="@profileImagePreview"
                                              Width="100"
                                              Height="100"
                                              Elevation="25"
                                              Class="rounded-lg"
                                              ObjectFit="ObjectFit.Cover" />
                                </MudAvatar>
                            }
                            else
                            {
                                <MudIcon Icon="@Icons.Material.Filled.AccountCircle"
                                         Style="font-size: 100px; color: #9ca3af;" />
                            }
                        </div>

                        <MudFileUpload T="IBrowserFile" OnFilesChanged="HandleProfilePicUpload" Class="mt-2">
                            <ActivatorContent>
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Dark"
                                           StartIcon="@Icons.Material.Filled.CloudUpload">
                                    Browse
                                </MudButton>
                            </ActivatorContent>
                        </MudFileUpload>
                    </MudPaper>
                    <MudTextField Label="Email"
                                  @bind-Value="staffMember.Email"
                                  For="@(() => staffMember.Email)"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Email" />
                    <MudTextField Label="Password"
                                  @bind-Value="staffMember.Password"
                                  InputType="@(_showPassword? InputType.Text: InputType.Password)"
                                  Variant="Variant.Outlined"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@(_showPassword? Icons.Material.Filled.VisibilityOff : Icons.Material.Filled.Visibility)"
                                  OnAdornmentClick="TogglePassword"
                                  FullWidth="true" />
                    <MudTextField T="string" @bind-Value="staffMember.Role" Style="display:none;" />
                </MudPaper>
            </MudItem>
        </MudGrid>


    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton ButtonType="ButtonType.Submit"
                   OnClick="AddStaff"
                   Variant="Variant.Filled"
                   Color="Color.Warning"
                   Class="ml-auto">
            <MudIcon Icon="@Icons.Material.Filled.PersonAdd" Class="mr-1" />
            Register
        </MudButton>
    </DialogActions>
</MudDialog>
