@inherits AdminLayoutBase


@if (!_initialized)
{
    <div class="loader-container">
        <div class="spinner"></div>
    </div>

}
else{
@if (isAdmin)
{
    <MudThemeProvider Theme="@(_isDark? _darkTheme : _lightTheme)" IsDarkMode="_isDark" />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudLayout>

            <MudAppBar Elevation="4" Style="background-color: #7C1219">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle" />
            <MudText Typo="Typo.subtitle2" Style="font-weight: bold;">
                Power Gym
            </MudText>
                <MudIconButton Icon="@(_isDark? Icons.Material.Filled.LightMode : Icons.Material.Filled.DarkMode)"
                               Color="Color.Default"
                               OnClick="ToggleTheme" />
            <MudSpacer />
            <div class=" d-flex gap-3">
                    <MudButton Class="border-white" Variant="Variant.Outlined"  Size="Size.Small" OnClick="@OpenScannerDialog" >
                        <MudIcon Icon="@Icons.Material.Filled.QrCode" />
                    </MudButton>
                <MudButton Variant="Variant.Outlined" Color="Color.Error" Size="Size.Small" OnClick="@Logout">
                    Logout
                </MudButton>
            </div>
        </MudAppBar>

            <MudDrawer @bind-Open="_drawerOpen" Elevation="2" >
                <div class="p-4 border-b border-black/20">
                    <div class="flex items-center gap-2 mb-1">
                        <MudIcon Icon="@Icons.Material.Filled.FitnessCenter" />
                        <MudText Typo="Typo.h6" Class="font-bold">
                            Welcome
                        </MudText>
                    </div>
                    <MudText Typo="Typo.subtitle2">
                        @fullName
                    </MudText>
                </div>
                <MudNavMenu>
                    <MudNavLink Href="/adminhome"
                                Match="NavLinkMatch.All"
                                Class="flex flex-col gap-1 px-4 py-2 rounded-lg">
                        <div class="flex items-center gap-3">
                            <MudIcon Icon="@Icons.Material.Filled.Dashboard"  />
                            <span class="font-medium">Dashboard</span>
                        </div>
                        <MudText Typo="Typo.caption">
                            Overview of gym statistics
                        </MudText>
                    </MudNavLink>

                    <MudNavLink Href="/memberships"
                                Match="NavLinkMatch.Prefix"
                                Class="flex flex-col gap-1 px-4 py-2 rounded-lg">
                        <div class="flex items-center gap-3">
                            <MudIcon Icon="@Icons.Material.Filled.FitnessCenter"  />
                            <span class="font-medium">Track Membership</span>
                        </div>
                        <MudText Typo="Typo.caption">
                            Tracks membership details
                        </MudText>
                    </MudNavLink>

                    <MudNavLink Href="/attendanceAdmin"
                                Match="NavLinkMatch.Prefix"
                                Class="flex flex-col gap-1 px-4 py-2 rounded-lg">
                        <div class="flex items-center gap-3">
                            <MudIcon Icon="@Icons.Material.Filled.Schedule"  />
                            <span class="font-medium">Attendance History</span>
                        </div>
                        <MudText Typo="Typo.caption">
                            View all attendance records
                        </MudText>
                    </MudNavLink>

                    <MudNavGroup Title="Manage Users"
                                 Expanded="true"
                                 Icon="@Icons.Material.Filled.People"
                                 Class="font-semibold px-2 py-1 mt-4">

                        <MudNavLink Href="/manageusers"
                                    Match="NavLinkMatch.Prefix"
                                    Class="flex flex-col gap-1 px-4 py-2 rounded-lg">
                            <div class="flex items-center gap-3">
                                <MudIcon Icon="@Icons.Material.Filled.Person" />
                                <span class="font-medium">Users</span>
                            </div>
                            <MudText Typo="Typo.caption">
                                Manage users accounts
                            </MudText>
                        </MudNavLink>

                        <MudNavLink Href="/manageadmins"
                                    Match="NavLinkMatch.Prefix"
                                    Class="flex flex-col gap-1 px-4 py-2 rounded-lg">
                            <div class="flex items-center gap-3">
                                <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" />
                                <span class="font-medium">Admins</span>
                            </div>
                            <MudText Typo="Typo.caption">
                                Manage admins accounts
                            </MudText>
                        </MudNavLink>

                    </MudNavGroup>
                </MudNavMenu>
            </MudDrawer>


        <MudMainContent>
            @Body
        </MudMainContent>

    </MudLayout>
}
    else
    {
        <MudText> YOU ARE NOT AUTHORIZED</MudText>
    }
}
