@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject CustomAuthStateProvider AuthStateProvider

@if (!_initialized)
{
    <div class="loader-container">
        <div class="loader">
            <div class="lightsaber ls-left ls-red"></div>
            <div class="lightsaber ls-right ls-green"></div>
            <div class="ls-particles ls-part-1"></div>
            <div class="ls-particles ls-part-2"></div>
            <div class="ls-particles ls-part-3"></div>
            <div class="ls-particles ls-part-4"></div>
            <div class="ls-particles ls-part-5"></div>
        </div>
    </div>

}
else{
@if (isAdmin)
{
    <MudThemeProvider />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudLayout>

            <MudAppBar Elevation="4" Class="bg-[#FCFCFC] text-black ">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle" />
            <MudText Typo="Typo.subtitle2" Style="color: black; font-weight: bold;">
                Power Gym
            </MudText>
            <MudSpacer />
            <div class=" d-flex gap-3">
                <MudButton Variant="Variant.Outlined" Color="Color.Dark" Size="Size.Small" OnClick="@OpenScannerDialog">
                    Scan QR
                </MudButton>
                <MudButton Variant="Variant.Outlined" Color="Color.Error" Size="Size.Small" OnClick="@Logout">
                    Logout
                </MudButton>
            </div>
        </MudAppBar>

            <MudDrawer @bind-Open="_drawerOpen" Elevation="2" Class="bg-white text-black">
                <div class="p-4 border-b border-black/20">
                    <div class="flex items-center gap-2 mb-1">
                        <MudIcon Icon="@Icons.Material.Filled.FitnessCenter" Class="text-black" />
                        <MudText Typo="Typo.h6" Class="font-bold text-black">
                            Welcome
                        </MudText>
                    </div>
                    <MudText Typo="Typo.subtitle2" Class="text-black">
                        @fullName
                    </MudText>
                </div>
                <MudNavMenu>
                    <MudNavLink Href="/adminhome"
                                Match="NavLinkMatch.All"
                                Class="flex flex-col gap-1 px-4 py-2 rounded-lg text-black"
                                ActiveClass="!text-black">
                        <div class="flex items-center gap-3">
                            <MudIcon Icon="@Icons.Material.Filled.Dashboard" Class="text-black" />
                            <span class="font-medium">Dashboard</span>
                        </div>
                        <MudText Typo="Typo.caption" Class="text-gray-600">
                            Overview of gym statistics
                        </MudText>
                    </MudNavLink>

                    <MudNavLink Href="/memberships"
                                Match="NavLinkMatch.Prefix"
                                Class="flex flex-col gap-1 px-4 py-2 rounded-lg text-black"
                                ActiveClass="!text-black">
                        <div class="flex items-center gap-3">
                            <MudIcon Icon="@Icons.Material.Filled.FitnessCenter" Class="text-black" />
                            <span class="font-medium">Track Membership</span>
                        </div>
                        <MudText Typo="Typo.caption" Class="text-gray-600">
                            Tracks membership details
                        </MudText>
                    </MudNavLink>

                    <MudNavLink Href="/attendanceAdmin"
                                Match="NavLinkMatch.Prefix"
                                Class="flex flex-col gap-1 px-4 py-2 rounded-lg text-black"
                                ActiveClass="!text-black">
                        <div class="flex items-center gap-3">
                            <MudIcon Icon="@Icons.Material.Filled.Schedule" Class="text-black" />
                            <span class="font-medium">Attendance History</span>
                        </div>
                        <MudText Typo="Typo.caption" Class="text-gray-600">
                            View all attendance records
                        </MudText>
                    </MudNavLink>

                    <MudNavGroup Title="Manage Users"
                                 Expanded="true"
                                 Icon="@Icons.Material.Filled.People"
                                 Class="text-black font-semibold px-2 py-1 mt-4">

                        <MudNavLink Href="/manageusers"
                                    Match="NavLinkMatch.Prefix"
                                    Class="flex flex-col gap-1 px-4 py-2 rounded-lg text-black"
                                    ActiveClass="!text-black">
                            <div class="flex items-center gap-3">
                                <MudIcon Icon="@Icons.Material.Filled.Person" Class="text-black" />
                                <span class="font-medium">Users</span>
                            </div>
                            <MudText Typo="Typo.caption" Class="text-gray-600">
                                Manage users accounts
                            </MudText>
                        </MudNavLink>

                        <MudNavLink Href="/manageadmins"
                                    Match="NavLinkMatch.Prefix"
                                    Class="flex flex-col gap-1 px-4 py-2 rounded-lg text-black"
                         ActiveClass="!text-black">
                            <div class="flex items-center gap-3">
                                <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" Class="text-black" />
                                <span class="font-medium">Admins</span>
                            </div>
                            <MudText Typo="Typo.caption" Class="text-gray-600">
                                Manage admins accounts
                            </MudText>
                        </MudNavLink>

                    </MudNavGroup>
                </MudNavMenu>
            </MudDrawer>


        <MudMainContent>
            @Body
        </MudMainContent>

    </MudLayout>
}
    else
    {
        <MudText> YOU ARE NOT AUTHORIZED</MudText>
    }
}


@code {
    [Inject] IDialogService DialogService { get; set; }


    bool _drawerOpen = true;
    private bool _initialized;
    private string? fullName;
    void DrawerToggle() => _drawerOpen = !_drawerOpen;
    private bool isAdmin;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        fullName = user.FindFirst("FullName")?.Value ?? "Admin";
        isAdmin = user.IsInRole("Admin");
        _initialized = true;
        await Task.Delay(5000);
    }
    private async Task Logout()
    {
        await AuthStateProvider.MarkUserAsLoggedOutAsync();
        Navigation.NavigateTo("/", true);
    }
    
    private async Task OpenScannerDialog()
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true };
        await DialogService.ShowAsync<ScannerDialog>("QR Scanner", options);
    }
    
}
